.quickshop_img{ }

#id_qs_load{width: 621px;position: absolute;top: 30px; left: 50%;display: none;z-index: 1001;background: #fff;min-height: 300px;}
#output-div{}
a.close{width: 15px; height: 15px;text-indent: -999em;background: url(../images/close.gif) center center no-repeat;display: inline-block;float: right;padding: 10px 10px 0 0;position: absolute;right: -3px;top: -22px;}
#shadow_box{width: 100%;display: none;position: absolute;left: 0; top: 0;z-index: 1001;background: #000;opacity:0.5;z-index: 1000;filter:alpha(opacity=50)}
#loadingmask{padding: 5px 0;position: absolute;top: 50%;left: 50%;margin: -30px 0 0 -15px;}
#loading-mask-loader span{display: block;padding-top: 10px;}
#loading-mask-loader img{padding-right: 10px;}

#em_quickshop_handler{position: absolute; display:block;margin-left:-10px; }
.quickshop-index-view {
	background:#000000;
	height: 420px;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
	width: 650px;
	position: relative;
}
.quickshop-index-view  #header, 
.quickshop-index-view  .breadcrumbs, 
.quickshop-index-view .footer , 
.quickshop-index-view .wrapOutBtm
{
	display:none;
}
.quickshop-index-view .wrapper{
	min-width: 650px;
	height: 420px;
	width: 650px;
	overflow: hidden;
	position:relative;
}
.quickshop-index-view .page{
	height:400px;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
	border: 10px solid #fff;
	background-color: #050E16;
	-moz-box-shadow: 0px 2px 15px 10px #000;
	-webkit-box-shadow: 0px 2px 15px 10px #000;
	box-shadow: 0px 0px 15px 10px #000;
}
.quickshop-index-view .main-container{
	margin:0px;
	width:630px;
	height:400px;
	background:url(../images/citizen/watch_quickview_bg.jpg) no-repeat center center;
}
.col3-layout-pv .main {
	width: 1024px;
}
.quickshop-index-view .product-view .product-img-box{
	float:right;
	width: 360px;
	height: 400px;
	text-align: center;
	overflow: hidden;
	margin:0px;
}
.quickshop-index-view .product-view .bottom-view{
		display:none;
}
.quickshop-index-view  .product-essential{
	padding:0px;
}
.quickshop-index-view .col3-layout-pv .main .col-main .product-view .media{
	width: 436px;
	margin-top: 0px;
}
.quickshop-index-view .col1-layout .product-view .product-shop{
	background: transparent url(../images/citizen/watch_quickview_split.png) right center no-repeat;
	width: 240px;
	padding: 15px;
	margin: 80px 0 0;
}
.quickshop-index-view #watch_summary{
	padding:0px;
	width: 100%;
}
.quickshop-index-view .product-view .product-shop .product-name{
	background: transparent url(../images/citizen/tint_blue_90.png) 0 0 repeat;
	width: 100%;
	height: 64px;
	position: absolute;
	top: 0;
	left: 0px;
	padding-left:10px;
	font-size:26px !important;
}
.quickshop-index-view .product-view .product-shop .product-sku{
	width: 100%;
	position: absolute;
	top: 28px;
	left: 10px;
	font-size: 14px !important;
	font-family: Helvetica,Arial,sans-serif !important;
	color: #7d8082 !important;
	text-transform: uppercase;
	margin:0px !important;
}
.quickshop-index-view .product-view .product-shop .short-description{
	padding:0px;
	color: #c6ced5;
}
.quickshop-index-view .regular-price .price{
	font-size: 23px;
	color: #fff;
	font-family: UniversCondensed,Arial,Helvetica,sans-serif;
	text-transform: uppercase;
	margin: 0 0 15px;
}
.quickshop-index-view .qv_media_left{
	float:left;
}
.quickshop-index-view #pdpTop{
	margin: 0 auto;
	position: static;
}
.quickshop-index-view #pdpTop a{
	
}
.quickshop-index-view #pdpTop img{
	
}
.quickshop-index-view .border-bottom-img{
	width: 334px !important;
	background:#cccccc;
	float:left;
	height: 25px;
}
.quickshop-index-view .MagicZoomBigImageCont,
.quickshop-index-view .MagicZoomPup,
.quickshop-index-view .add-to-box {
	display:none !important;
}
#fancybox-outer #fancybox-close{
	top: 0 !important;
	right: 0 !important;
	height: 27px !important;
	text-indent: -9999px !important;
	width: 27px !important;
	margin: 28px !important;
	background: transparent url('../images/citizen/overlay_close.png') 0 0 no-repeat !important;
	border: none;
}
.quickshop-index-view #view_the_watch {
	margin-top:15px;
	display:block !important;
}
.quickshop-index-view #view_the_watch a{
	font-size:13px;
	width:95px;
}
#em_quickshop_handler span{
	font-size:13px;
	font-size: 13px;
	background-image: none;
	padding-left: 15px;
}