<!--@subject {{var store.getFrontendName()}}: Xác nhận {{layout handle="sales_email_order_update_status_cancel" order=$order}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image",
"htmlescape var=$order.getCustomerName()":"Customer Name",
"var order.increment_id":"Order Id",
"var order.getStatusLabel()":"Order Status",
"store url=\"customer/account/\"":"Customer Account Url",
"var comment":"Order Comment",
"var store.getFrontendName()":"Store Name"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->
<div style="padding:0px;margin:0px;font-family:Georgia,Helvetica,Arial;font-size:12px;color:#5e5959;">
<table cellspacing="0" border="0" cellpadding="0" align="center" bgcolor="#f6f6f6">
<tr>
	<td width="750">
        <!-- [ header starts here] -->
        <table align="center" width="100%">
            <tr>
                <td style="padding:20px 50px 10px 50px;" width="100%"><a href="{{store url=""}}"><img src="{{skin url="images/logo_email.png" _area='frontend'}}" alt="{{var store.getFrontendName()}}"  style="margin-bottom:10px;" border="0"/></a></td>
            </tr>
        <!-- [ middle starts here] -->
        	<tr>
            	<td style="padding:10px 50px 10px 50px;">
			        <table width="100%">
			            <tr>
            			    <td style="border:1px solid #efebec;padding:15px 15px 15px 15px;">
		                    <p><strong>Xác nhận {{layout handle=&quot;sales_email_order_status_cancel&quot; order=$order}}</strong></p>
<p>Xin chào Quý khách {{htmlescape var=$order.getCustomerName()}},</p>
                            <p>Cảm ơn Quý khách hàng đã sử dụng dịch vụ mua sắm trực tuyến của OmegaMart.vn – trang web mua sắm trực tuyến hàng đầu Việt Nam.</p>
                            <p>Chúng tôi xác nhận Quý khách hàng đã <strong>{{layout handle=&quot;sales_email_order_update_status_cancel&quot; order=$order}} </strong> dưới đây:</p>
<h3 style="border-bottom:2px solid #eee; font-size:1.05em; padding-bottom:1px; ">Mã số đơn hàng #{{var order.increment_id}} <small>(đặt ngày {{var order.getCreatedAtFormated('long')}})</small><small></small></h3>
		                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
		                        <thead>
        			                <tr>
                    			        <th align="left" width="48.5%" bgcolor="#CCCCCC" style="padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Người thanh toán:</th>
			                            <th width="3%"></th>
            			                <th align="left" width="48.5%" bgcolor="#CCCCCC" style="padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Phương thức thanh toán:</th>
                        			</tr>
		                        </thead>
        	                <tbody>
            		            <tr>
                    		        <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
		                                {{var order.billing_address.format('html')}}
                            		</td>
        		                    <td>&nbsp;</td>
                		            <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
                        		        {{var payment_html}}
		                            </td>
        		                </tr>
                	        </tbody>
                    	</table>
	                    <br/>
    	                {{depend order.getIsNotVirtual()}}
        	            <table cellspacing="0" cellpadding="0" border="0" width="100%">
            	            <thead>
                	        	<tr>
                    		        <th align="left" width="48.5%" bgcolor="#CCCCCC" style="padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Người nhận hàng:</th>
		                            <th width="3%"></th>
        	                    <th align="left" width="48.5%" bgcolor="#CCCCCC" style="padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Phương thức vận chuyển:</th>
            		            </tr>
                    	    </thead>
                        	<tbody>
		                        <tr>
        		                    <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
                		                {{var order.shipping_address.format('html')}}
                        		        &nbsp;
		                            </td>
        		                    <td>&nbsp;</td>
                		            <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
                        		        {{var order.shipping_description}}&nbsp;
		                            </td>
        		                </tr>
                	        </tbody>
                    	</table>
	                    <p><br/>
	                    {{/depend}}                    </p>
	                    <p>{{layout handle="sales_email_order_items" order=$order}}
	                      <br/>
	                      {{var order.getEmailCustomerNote()}}	                    </p>
	                    <p>{{layout handle=&quot;sales_email_order_update_massage_status&quot; order=$order}}</p>
	                    <p>Nếu gặp vấn đề khó khăn trong quá trình mua sắm, Quý khách hàng vui lòng liên hệ tới Trung tâm Chăm sóc Khách hàng (04.62.55.33.88) để được giải đáp.</p>
<p>Hãy bắt đầu với những sản phẩm chính hãng giá <strong>RẺ NHẤT THỊ TRƯỜNG</strong> bằng cách tham gia tích lũy điểm thưởng <a href="http://omegamart.vn/quy-dinh-o-point.html" style="color:#F90;">O-Point</a> và nhận các phiếu giảm giá hấp dẫn <a href="http://omegamart.vn/quy-dinh-o-point.html#o-coupon" style="color:#F90;">O-Coupon</a> tại <a href="http://www.omegamart.vn/o-club" style="color:#F90;">Omega Club</a>.  </p>
                        <p>Trân trọng,<br />
                          <strong>Đội ngũ OMEGA</strong></p>
                        <p><em>Đây là email tự động của hệ thống, Quý khách hàng vui lòng không liên lạc qua địa chỉ này. Mọi thắc mắc, xin Quý khách hàng liên hệ Trung tâm Chăm sóc Khách hàng</em></p>
                        <p><em>OmegaMart 82 Trung Hòa – Cầu Giấy – Hà Nội</em><br />
                          <em>Tel: +</em><em>84 04.62-33-55-88        </em><br />
                          <em>Email: </em><a href="mailto:customer@omegamart.vn"><em>customer@omegamart.vn</em></a><br />
                          <em>Website: </em><a href="http://www.omegamart.vn"><em>www.omegamart.vn</em></a></p>
</p>
                	</td>
                   </tr>
                   <tr>
                       <td style="padding:10px 0 20px 0" width="100%">
                            <table align="center" style="font-size:10px">
                                <tbody>
                                	<tr>
                                    	<td align="center">
                                        	<a style="display:block;float:left;width:200px;min-height:24px;line-height:24px;text-decoration:none;color:#5e5959" href="http://www.facebook.com/omegamartvn" target="_blank"><img alt="" src="http://www.fagms.net/images/4415/I-4415-dfyhyjkrhp-socFacebook.png">
												<span style="vertical-align:top">Like us on Facebook</span>
											</a>
<a style="display:block;float:left;width:200px;min-height:24px;line-height:24px;text-decoration:none;color:#5e5959" href="http://twitter.com/omegamartvn" target="_blank"><img alt="" src="http://www.fagms.net/images/4415/I-4415-etfvejkpmi-socTwitter.png">
<span style="vertical-align:top">Follow us on
Twitter</span></a></td>
                                    </tr>
<tr>
                                        <td align="center"><a style="display:block;float:left;width:200px;min-height:24px;line-height:24px;text-decoration:none;color:#5e5959" href="http://tumblr.com/omegamartvn" target="_blank"><img alt="" src="http://25.media.tumblr.com/tumblr_lypiy9r1Og1qad6xjo1_100.png">
        <span style="vertical-align:top">Follow us on Tumblr</span>
</a>
<a style="display:block;float:left;width:200px;min-height:24px;line-height:24px;text-decoration:none;color:#5e5959" href="htt://plus.google.com/omegamartvn" target="_blank"><img alt="" src="http://30.media.tumblr.com/tumblr_lypixxdUZK1qad6xjo1_100.png">
        <span style="vertical-align:top">Add us on Google+</span>
</a></td>
                                    </tr>
                                    <tr>
                                        <td align="center">@ 2012 OMEGAMART.VN</td>
                                    </tr>
                                    <tr>
                                        <td align="center">OMEGA Investment Joint Stock Company<br> 
                                          82 Trung Hòa, Cầu Giấy, Hà Nội
<br>
Việt Nam<br>
 Phone: 04-62-55-33-88 </td>
                                    </tr>
                                </tbody></table>
                            </td>
                        </tr>
                </table>
            </tr>
        </table>
    </td>
</tr>
</table>
</div>