<?xml version="1.0"?>
<config>
	<modules>
        <Sm_Slickslider>
            <version>1.0</version>
        </Sm_Slickslider>
    </modules>
	<global>
		<models>
            <slickslider>
                <class>Sm_Slickslider_Model</class>
            </slickslider>
        </models>
		<blocks>
            <slickslider>
                <class>Sm_Slickslider_Block</class>
            </slickslider>            		
        </blocks>				
		<helpers>
            <slickslider>
                <class>Sm_Slickslider_Helper</class>
            </slickslider>
        </helpers>
        <resources>
        	<slickslider_setup>
        		<setup>
        			<module>Sm_Slickslider</module>
        		</setup>
        	</slickslider_setup>
        </resources>
	</global>
	<frontend>
        <routers>
			<slickslider>
                <use>standard</use>
                <args>
                    <module>Sm_Slickslider</module>
                    <frontName>slickslider</frontName>
                </args>
            </slickslider>
        </routers>
		<layout>
            <updates>
                <slickslider module="Sm_Slickslider">
					<file>sm/slickslider.xml</file>
                </slickslider>
            </updates>
        </layout>
        <translate>
      		<modules>
          		<Sm_Slickslider>
                     <files>
                          <default>Sm_Slickslider.csv</default>
                     </files>
                </Sm_Slickslider>
            </modules>
        </translate>
	</frontend>
	<adminhtml>
        <translate>
      		<modules>
          		<Sm_Slickslider>
                     <files>
                          <default>Sm_Slickslider.csv</default>
                     </files>
                </Sm_Slickslider>
            </modules>
        </translate>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>										
										<slickslider_cfg translate="title" module="slickslider">
											<title>SM Slickslider Settings</title>
										</slickslider_cfg>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	<default>
        <slickslider_cfg>
        	<general>
                <isenabled>1</isenabled>
                <title>SM Slickslider</title>
            </general>
			<module_setting>
				<module_width></module_width>
				<theme>theme1</theme>
				<autoplay>1</autoplay>
				<show_img_on_right>1</show_img_on_right>
				<button_theme>number</button_theme>
				<prenext_show>1</prenext_show>
				<animation>fade</animation>
				<duration>2000</duration>
				<interval>500</interval>
				<play>1</play>
				<desc_box_width>300</desc_box_width>
				<start_item>1</start_item>
			</module_setting>			
            <product_selection>
            	<product_source>catalog</product_source>
            	<product_category></product_category>
            	<product_ids></product_ids>
            	<product_order_by></product_order_by>
            	<product_order_dir></product_order_dir>
            	<product_limitation>10</product_limitation>
            </product_selection>					
			<product_display_setting>
				<product_image_linkable>1</product_image_linkable>
				<product_image_width>300</product_image_width>
				<product_image_height>250</product_image_height>			
				<product_title_disp>1</product_title_disp>
				<product_title_linkable>1</product_title_linkable>
				<product_title_color>#000000</product_title_color>
				<product_title_max_characters>50</product_title_max_characters>
				<product_image_disp>1</product_image_disp>
				<product_description_disp>1</product_description_disp>
				<product_description_color>#000000</product_description_color>
				<product_description_max_characters>150</product_description_max_characters>
				<product_links_target>_self</product_links_target>
				<product_price_disp>1</product_price_disp>
				<product_details_page_link_disp>1</product_details_page_link_disp>
			</product_display_setting>
            <advanced>
            	<include_jquery>1</include_jquery>
            	<pretext></pretext>
            	<posttext></posttext>
            </advanced>
        </slickslider_cfg>
    </default>
</config>