<!--@subject  {{var store.getFrontendName()}}: Xác nhận đăng ký Thành viên! @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.png\" _area='frontend'":"Email Logo Image",
"htmlescape var=$order.getCustomerName()":"Customer Name",
"var store.getFrontendName()":"Store Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var invoice.increment_id":"Invoice Id",
"var order.increment_id":"Order Id",
"var order.billing_address.format('html')":"Billing Address",
"var payment_html":"Payment Details",
"var order.shipping_address.format('html')":"Shipping Address",
"var order.shipping_description":"Shipping Description",
"layout area=\"frontend\" handle=\"sales_email_order_invoice_items\" invoice=$invoice order=$order":"Invoice Items Grid",
"var comment":"Invoice Comment"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<div style="padding:0px;margin:0px;font-family:Georgia,Helvetica,Arial;font-size:12px;color:#5e5959;">
<table cellspacing="0" border="0" cellpadding="0" align="center" bgcolor="#f6f6f6">
<tr>
	<td bgcolor="#4c4847" width="100%" style="color:#fff;padding:3px;text-align:center;font-size:10px">To ensure that future mailings are sent to your inbox, please add <a href="mailto:customer@kara.vn" style="color:#4f9cc6" target="_blank">customer@kara.vn</a> to your contact list.</td>
</tr>
<tr>
	<td width="750">
        <!-- [ header starts here] -->
        <table align="center" width="100%">
            <tr>
                <td style="padding:20px 50px 10px 50px;" width="100%"><a href="sales/{{store url=""}}"><img src="sales/{{skin url="images/logo_email.png" _area='frontend'}}" alt="{{var store.getFrontendName()}}"  style="margin-bottom:10px;" border="0"/></a></td>
            </tr>
        <!-- [ middle starts here] -->
        	<tr>
            	<td style="padding:10px 50px 10px 50px;">
			        <table width="100%">
			            <tr>
            			    <td style="border:1px solid #efebec;padding:15px 15px 15px 15px;">
		                    <p>Xin chào Quý khách {{htmlescape var=$customer.name}},<br/>
Chào mừng Quý khách hàng đã trở thành thành viên chính thức của {{var store.getFrontendName()}} - trang web mua sắm trực tuyến hàng đầu Việt Nam.</p>
		                    <p>Xin gửi tặng Quý khách hàng <strong><span style="color:#F90;">20.000</span> </strong><a href="http://omegamart.vn/quy-dinh-o-point.html"><strong><span style="color:#F90;">O-Point</span></strong></a> vào tài khoản như là món quà tri ân của chúng tôi. </p>
		                    <p>Hãy bắt đầu với những sản phẩm chính hãng giá <strong>RẺ NHẤT THỊ TRƯỜNG</strong> bằng cách tham gia tích lũy điểm thưởng <a href="http://omegamart.vn/quy-dinh-o-point.html" style="color:#F90;">O-Point</a> và nhận các phiếu giảm giá hấp dẫn <a href="http://omegamart.vn/quy-dinh-o-point.html#o-coupon" style="color:#F90;">O-Coupon</a> tại <a href="http://www.omegamart.vn/o-club" style="color:#F90;">Omega Club</a>.  </p>
<p style="padding:13px 18px;"> <strong>Sau đây là thông tin về tài khoản của Quý khách:</strong><br/>
                              E-mail: {{var customer.email}}<br/>
                              Mật khẩu: {{htmlescape var=$customer.password}}</p>
                            <p>Chúc Quý khách hàng mua sắm vui vẻ!</p>
                            <p>Thân ái tạm biệt,</p>
                            <p><strong>OMEGA TEAM</strong></p>
                            <p><em>Đây là email tự động của hệ thống, Quý khách hàng vui lòng không liên lạc qua địa chỉ này. Mọi thắc mắc, xin Quý khách hàng liên hệ Trung tâm Chăm sóc Khách hàng</em></p>
                            <p><em>OmegaMart 82 Trung Hòa – Cầu Giấy – Hà Nội</em><br />
                              <em>Tel: +</em><em>84 04.62-33-55-88        </em><br />
                              <em>Email: </em><a href="mailto:customer@omegamart.vn"><em>customer@omegamart.vn</em></a><br />
                              <em>Website: </em><a href="http://www.omegamart.vn"><em>www.omegamart.vn</em></a></p>
</p>
                	</td>
                   </tr>
                   <tr>
                       <td style="padding:10px 0 20px 0" width="100%">
                            <table align="center" style="font-size:10px">
                                <tbody>
                                	<tr>
                                    	<td align="center">
                                        	<a style="display:block;float:left;width:200px;min-height:24px;line-height:24px;text-decoration:none;color:#5e5959" href="http://www.facebook.com/omegamartvn" target="_blank"><img alt="" src="http://www.fagms.net/images/4415/I-4415-dfyhyjkrhp-socFacebook.png">
												<span style="vertical-align:top">Like us on Facebook</span>
											</a>
<a style="display:block;float:left;width:200px;min-height:24px;line-height:24px;text-decoration:none;color:#5e5959" href="http://twitter.com/omegamartvn" target="_blank"><img alt="" src="http://www.fagms.net/images/4415/I-4415-etfvejkpmi-socTwitter.png">
<span style="vertical-align:top">Follow us on
Twitter</span></a></td>
                                    </tr>
<tr>
                                        <td align="center"><a style="display:block;float:left;width:200px;min-height:24px;line-height:24px;text-decoration:none;color:#5e5959" href="http://tumblr.com/omegamartvn" target="_blank"><img alt="" src="http://25.media.tumblr.com/tumblr_lypiy9r1Og1qad6xjo1_100.png">
        <span style="vertical-align:top">Follow us on Tumblr</span>
</a>
<a style="display:block;float:left;width:200px;min-height:24px;line-height:24px;text-decoration:none;color:#5e5959" href="htt://plus.google.com/omegamartvn" target="_blank"><img alt="" src="http://30.media.tumblr.com/tumblr_lypixxdUZK1qad6xjo1_100.png">
        <span style="vertical-align:top">Add us on Google+</span>
</a></td>
                                    </tr>
                                    <tr>
                                        <td align="center">@ 2012 {{var store.getFrontendName()}}</td>
                                    </tr>
                                    <tr>
                                        <td align="center">OMEGA Investment Joint Stock Company<br> 
                                          82 Trung Hòa, Cầu Giấy, Hà Nội
<br>
Việt Nam<br>
 Phone: 04-62-55-33-88 </td>
                                    </tr>
                                </tbody></table>
                            </td>
                        </tr>
                </table>
            </tr>
        </table>
    </td>
</tr>
</table>
</div>