<!--@subject {{var customer.name}} Mật khẩu mới @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.png\" _area='frontend'":"Email Logo Image",
"store url=\"customer/account/\"":"Customer Account Url",
"htmlescape var=$customer.name":"Customer Name",
"htmlescape var=$customer.password":"Customer New Password"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->
<div style="padding:0px;margin:0px;font-family:Georgia,Helvetica,Arial;font-size:12px;color:#5e5959;">
<table cellspacing="0" border="0" cellpadding="0" align="center" bgcolor="#f6f6f6">
<tr>
	<td bgcolor="#4c4847" width="100%" style="color:#fff;padding:3px;text-align:center;font-size:10px">Để đảm bảo Email này của chúng tôi vào Inbox của bạn,xin hãy thêm <a href="mailto:info@omegamart.vn" style="color:#4f9cc6" target="_blank">info@omegamart.vn</a> vào danh bạ.</td>
</tr>
<tr>
	<td width="750">
        <!-- [ header starts here] -->
        <table align="center" width="100%">
            <tr>
                <td style="padding:20px 50px 10px 50px;" width="100%"><a href="sales/{{store url=""}}"><img src="{{skin url="images/logo_email.png" _area='frontend'}}" alt="{{var store.getFrontendName()}}"  style="margin-bottom:10px;" border="0"/></a></td>
            </tr>
        <!-- [ middle starts here] -->
        	<tr>
            	<td style="padding:10px 50px 10px 50px;">
			        <table width="100%">
			            <tr>
            			    <td style="border:1px solid #efebec;padding:15px 15px 15px 15px;">
		                    <p>Xin chào Quý khách {{htmlescape var=$customer.name}},<br/>
		                    </p>
		                    <p>Quý khách vừa đăng ký tạo mật khẩu mới trên hệ thống Website Omega. Thông tin mới của Quý khách được hệ thống tạo tự động như sau: </p>
		                    <p>Mật khẩu mới:<span style="padding:13px 18px;">{{htmlescape var=$customer.password}}</span></p>
		                    <p>Quý khách có thể đăng nhập bằng mật khẩu mới này tại: <a href="{{store url="customer/account/"}}">Tài khoản	</a>. Quý khách Lưu ý đổi thông tin mật khẩu này ngay sau khi đăng nhập để đảm bảo tính bảo mật cho Quý khách.</p>
		                    <p>Hãy bắt đầu với những sản phẩm chính hãng giá <strong>RẺ NHẤT THỊ TRƯỜNG</strong> bằng cách tham gia tích lũy điểm thưởng <a href="http://omegamart.vn/quy-dinh-o-point.html" style="color:#F90;">O-Point</a> và nhận các phiếu giảm giá hấp dẫn <a href="http://omegamart.vn/quy-dinh-o-point.html#o-coupon" style="color:#F90;">O-Coupon</a> tại <a href="http://www.omegamart.vn/o-club" style="color:#F90;">Omega Club</a>.  </p>
		                    <p>&nbsp;</p>
		                    <p>Chúc Quý khách hàng mua sắm vui vẻ!</p>
                            <p>Thân ái tạm biệt,</p>
                            <p><strong>OMEGA TEAM</strong></p>
                            <p><em>Đây là email tự động của hệ thống, Quý khách hàng vui lòng không liên lạc qua địa chỉ này. Mọi thắc mắc, xin Quý khách hàng liên hệ Trung tâm Chăm sóc Khách hàng</em></p>
                            <p><em>OmegaMart 82 Trung Hòa – Cầu Giấy – Hà Nội</em><br />
                              <em>Tel: +</em><em>84 04.62-33-55-88        </em><br />
                              <em>Email: </em><a href="mailto:customer@omegamart.vn"><em>customer@omegamart.vn</em></a><br />
                              <em>Website: </em><a href="http://www.omegamart.vn"><em>www.omegamart.vn</em></a></p>
</p>
                	</td>
                   </tr>
                   <tr>
                       <td style="padding:10px 0 20px 0" width="100%">
                            <table align="center" style="font-size:10px">
                                <tbody>
                                	<tr>
                                    	<td align="center">
                                        	<a style="display:block;float:left;width:200px;min-height:24px;line-height:24px;text-decoration:none;color:#5e5959" href="http://www.facebook.com/omegamartvn" target="_blank"><img alt="" src="http://www.fagms.net/images/4415/I-4415-dfyhyjkrhp-socFacebook.png">
												<span style="vertical-align:top">Like us on Facebook</span>
											</a>
<a style="display:block;float:left;width:200px;min-height:24px;line-height:24px;text-decoration:none;color:#5e5959" href="http://twitter.com/omegamartvn" target="_blank"><img alt="" src="http://www.fagms.net/images/4415/I-4415-etfvejkpmi-socTwitter.png">
<span style="vertical-align:top">Follow us on
Twitter</span></a></td>
                                    </tr>
<tr>
                                        <td align="center"><a style="display:block;float:left;width:200px;min-height:24px;line-height:24px;text-decoration:none;color:#5e5959" href="http://tumblr.com/omegamartvn" target="_blank"><img alt="" src="http://25.media.tumblr.com/tumblr_lypiy9r1Og1qad6xjo1_100.png">
        <span style="vertical-align:top">Follow us on Tumblr</span>
</a>
<a style="display:block;float:left;width:200px;min-height:24px;line-height:24px;text-decoration:none;color:#5e5959" href="htt://plus.google.com/omegamartvn" target="_blank"><img alt="" src="http://30.media.tumblr.com/tumblr_lypixxdUZK1qad6xjo1_100.png">
        <span style="vertical-align:top">Add us on Google+</span>
</a></td>
                                    </tr>
                                    <tr>
                                        <td align="center">@ 2012 {{var store.getFrontendName()}}</td>
                                    </tr>
                                    <tr>
                                        <td align="center">OMEGA Investment Joint Stock Company<br> 
                                          82 Trung Hòa, Cầu Giấy, Hà Nội
<br>
Việt Nam<br>
 Phone: 04-62-55-33-88 </td>
                                    </tr>
                                </tbody></table>
                            </td>
                        </tr>
                </table>
            </tr>
        </table>
    </td>
</tr>
</table>
</div>
